//Utility Bar

$utility-bar-background-color:				theme-color('primary');
$utility-bar-color:							theme-color('white');
$utility-bar-padding:						$spacer * .5 0;

$utility-bar-icon-color:					theme-color('secondary');
$utility-bar-icon-size:						15px;

/* Header */

$header-background-color:					#fff;
$header-box-shadow:							none;

$header-logo-width: 						150px;
$header-logo-width-sm: 						200px;
$header-logo-width-md: 						280px;

$mobile-toggle-size: 						25px;
$header-padding:							$spacer * .5 0;